body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}
.columns{
    column-count: 4;
    column-width: 250px;
    column-rule: 5px solid black;
    column-gap: 3rem;
}
.columns p {
    background-color: aqua;
    break-inside:avoid;
    break-before: column;
}
.columns .quote{
    font-size: 5vw;
    color: blueviolet;
    text-align: center;
    column-span: all;
    margin: 2rem;
}
.nowrap{
    white-space: nowrap;
}